/* Work Sans from google font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

.txt-gray-clr {
    color: var(--Dark-03, #727272);
    padding: 20px 0;
}

.section-title {
    color: var(--Dark-01, #131313);
    font-size: 1rem;
    font-weight: 700;
}

/* Header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}


nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li>a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
    padding-top: 120px;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;

}

.teams-content-title {
    font-size: 2.8rem;
}

.teams-content-title .Quick_list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

.teams-content-title .of_our {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

.teams-content-title .txt-features {
    color: #FF900E;
    font-weight: 700;
}

/* facts */
.facts {
    margin-top: 120px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    /* gap: 20px; */
}

.card-stats {
    color: var(--Dark-02, #424242);
    font-size: 2.8rem;
    font-weight: 600;
    padding: 10px 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    /* padding: 10px 0; */
}

/* sponspors */
.sponspors {
    margin-top: 120px;
    text-align: center;
}

.sponspors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.sponspors-img-container img {
    width: 165px;
}

/* Responsive MEdia Queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponspors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content, .facts-content {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .facts-card-container {
        padding: 30px;
        gap: 20px;
        grid-template-columns: 1fr;
    }

}

/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-content, .facts-content {
        padding-top: 20px;
        padding-left: 90px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 90px;
    }

    .sponspors-img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 100px;
    }
}